*{
  color: #252525;
  line-height: 1.5;
}

body{
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

.container{
  margin:0;
  padding:0;
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
}

.header{
  width: 80%;
  display: flex;
  flex-flow: wrap;
}


.menu-box{
  width: 80vh;
  align-content: center;
  display: flex;
  flex-flow: wrap;
  justify-content: left;
}

.menu{
  text-align: left;
  font-size: 22px;
  font-weight: 500;
  text-decoration: none;
  border-bottom: 5px solid white;
  color: #22366B;
  margin-right: 3%;
  margin-bottom: 3%;
}

.menu:hover{
  text-align: left;
  font-size: 22px;
  font-weight: 500;
  color: #22366B;
  text-decoration: none;
  border-bottom: 5px solid #22366B;
  margin-right: 3%;
  margin-bottom: 3%;
}


.img-logo{
  width: 40vh;
  margin:0;
  padding:0;
}

.presentation{
  width: 80%;
  background-color: #f5f5f5;
  border-radius: 25px;
  display: flex;
  flex-flow: wrap;
}

.presentation-text{
  width: 70vh;
  padding-left: 5%;
  padding-top: 5%;
  padding-bottom: 5%;
}

.presentation-text-title{
  font-size: 24px;
  font-weight: 500;
  color: #149340 
}

.educa-se{
  color: #22366B;
  font-size: 24px;
  font-weight: 500;
}

.presentation-text-main{
  margin-top: 3%;
  font-size: 16px;
  margin-right: 5%;
  text-align: left;
}

.presentation-img-case{
  width: 60vh;
}

.presentation-img{
  width: 100%;
  margin-top: -25%;
}

.download{
  margin-top: 3%;
  width: 80%;
  font-size: 18px;
  background-color:  #22366B;
  border-radius: 25px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

.download-img{
  width: 20vh;
  padding-top: 2%;
  padding-bottom: 2%;
}

.img-book{
  width:100%;
}

.download-text{
  color: white;
  padding-top: 2%;
  padding-bottom: 2%;
  padding-right: 5%;
  padding-left: 5%;
  width: 60vh;
}

.download-button{
  width: 30vh;
  padding-top: 3%;
  padding-bottom: 3%;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
}

#downloadData{
  background-color: #F7C312;
  color: #22366B;
  font-weight: 500;
  padding-top: 5%;
  padding-bottom: 5%;
  padding-left: 15%;
  padding-right: 15%;
}

.chamada{
  margin-top: 2%;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
}

.chamada-text{
  font-size: 28px;
  font-weight: 500;
  text-align: center;
  text-transform: uppercase;
  color: #22366B;
}

.chamada-botao{
  font-weight: 500;
  font-size: 20px;
}

.content1{
  width: 80%;
  background-color: #f5f5f5;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  margin-top: 2%;
  margin-bottom:5%;
  font-size: 18px;
  padding:2%;
}


.command-1{
  width: 100%;
  padding-left: 3%;
  margin-left: 0;
  margin-bottom: 3%;
  font-size: 30px;
  font-weight: 500;
}

.info{
  width: 100%;
  padding-left: 3%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  margin: 0;
  font-size: 15px;
  text-align: center;
}

.info-box{
  width: 30vh;
  display: flex;
  flex-direction: column;
  margin-bottom: 5%;
}


.info-yellow-box{
  background-color: #F7C312;
  border-radius: 25px;
  width: 100%;
  min-height: 20%;
  align-content: center;
  justify-content: baseline;
  padding: 2% 2% 5% 2%;
  margin-left: 0;
  margin-right: 2%;
  margin-bottom: 3%;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.img-info-label{
  font-size: 20px;
  font-weight: 500;
}


.img-info{
  width: 60%;
}


#pop, #ideb, #inv, #pib{
  font-size: 26px;
  font-weight: 500;
}

.capita{
  font-size: 14px;
}
.capita2{
  font-size: 14px;
  color: #F7C312;
}

.nota{
  font-size: 12px;
  padding-left: 3%;
}

.ideb-time{
  width: 80vh;
}

.ideb-time-img{
  width: 40vh;
}

.img-prof{
  width: 80%;
}
 

.nota2{
  width: 80%;
  font-size: 12px;
  padding-left: 3%;
}

.ideb-time-case{
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  width: 80%;
}

.content2{
  width: 80%;
  background-color: #f5f5f5;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  margin-top: 5%;
  margin-bottom:2%;
  font-size: 18px;
  padding:5%;
}

#mun_censo{
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 2%;
  text-align: center;
  color: #F7C312;
}

.content3{
  width: 80%;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 0;
  margin-bottom: 2%;
  font-size: 18px;
  padding: 2%;
  line-height: 1.6;
}

.command-2{
  font-size: 28px;
  font-weight: 500;
  margin-bottom: 2%;
  text-align: center;
  color: #F7C312;
  text-transform: uppercase;
}

.command-3{
  font-size: 20px;
  font-weight: 500;
  text-align: center;
  color: #149340 ;
}



[data-tab-info] {
  display: none;
}


.active[data-tab-info] {
  display: block;
}

.tab-content {
  display: flex;
  background-color: #f5f5f5;
  flex-direction: column;
  align-items: center;
}

.auxiliary{
  display: flex;
  background-color: #f5f5f5;
  flex-direction: column;
  align-items: center;
}

.indicadores-censo{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.ind{
  width: 50vh;
  background-color: white;
  border-radius: 25px;
  padding: 1%;
  margin: 2%;
  width: 50vh;
}

.censo-title{
  font-size: 20px;
  font-weight: 500;
  text-align: center;
}

#etapa{
  width:100%;
}

#Sel_mun_comp{
  color: #22366B;
  font-weight: 500;
}

.sel-box{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.sel{
  width: 50vh;
}

.ideb-compare{
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  width: 80%;
  margin-bottom: 5%;
}

.ideb-compare-img{
  width: 20vh;
}

.ideb-compare-plot{
  width: 80vh;
}

.img-prof2{
  width: 100%;
  margin-top: 10%;
}

.ranking-text{
  text-align: justify;
}

.ranking-case{
  width: 80%;
}

.content4{
  width: 80%;
  background-color: #f5f5f5;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  margin-top: 2%;
  margin-bottom:5%;
  font-size: 18px;
  padding:2%;
}

.ref-intro{
  padding-left: 3%;
  text-align: justify ;
  padding-bottom: 3%;
}

ul{
  margin-left: 3%
}

.content5{
  width: 80%;
  background-color: #22366B;;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 0;
  border-radius: 30px;
  color: white;
  margin-bottom: 2%;
  font-size: 18px;
  padding: 3%;
  line-height: 1.6;
}

#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: #22366B;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}

#myBtn:hover {
  background-color: #F7C312;
}


@media (max-width: 500px) {
.presentation{
  margin-top: 10%;
}

img{
  width: 50%;
  margin:0;
  padding:0;
}

.header{
  margin:0;
  padding:0;
  display:flex;
  justify-content: center;
}

.info{
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-content: center;
  text-align: center;
}

.chamada{
  margin-bottom: 10%;
}

.menu-box{
  width: 80vh;
  align-content: center;
  display: flex;
  flex-flow: wrap;
  justify-content: center;
}

.menu{
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  text-decoration: none;
  border-bottom: 5px solid white;
  color: #22366B;
  margin-top: 2%;
  margin-bottom: 2%;
  margin-right: 15%;
  margin-left: 15%;

}

.menu:hover{
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  color: #22366B;
  text-decoration: none;
  border-bottom: 5px solid #22366B;
  margin-top: 2%;
  margin-bottom: 2%;
  margin-right: 15%;
  margin-left: 15%;
}

.presentation-text-main{
  text-align: left;
}

.presentation-text{
  width: 80vh;
  padding: 5%;
  margin: 5%;
}

.download-text{
  color: white;
  padding-left: 10%;
  width: 60vh;
}

.download-button{
  width: 30%;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 5%;
}

#downloadData{
  background-color: #F7C312;
  color: #22366B;
  font-weight: 500;
}

.chamada-botao{
  font-weight: 500;
  font-size: 20px;
}

.command-1{
  width: 100%;
  margin: 5%;
  font-size: 30px;
  font-weight: 500;
}

.content4{
  padding: 5%;
}

.content5{
  padding: 10%;
}

}




